<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Parcs</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
     <%-  include("./partials/menuUser.ejs") %>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                        <div class="card-body"><p class="text-white m-0">
                                <% if(statut ==0){%>Voici la liste des parcs notés par nos chers utilisateurs. N'hésitez pas à nous faire un retour d'expérience en votant !
                <%}else if (statut ==1){%>
                        Voici la liste des parcs notés par nos chers utilisateurs. N'hésitez pas à publier des informations sur vos parcs qui peuvent être utiles pour attirer les utilisateurs et les encourager à faire leur retour d'expérience  !
                    <%}%></p></div>
            </div>

            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5" id="listofsites">
                <h2>Liste des sites :</h2>
                <% if(listparcs.length===0) {%>
                    <div class="card text-white bg-secondary my-5 py-4 text-center">
                        <div class="card-body"><p class="text-white m-0"> Aucune publication pour l'instant !</p></div>
                    </div>
                <%}else{%>
                <% listparcs.forEach(function(parc){ let im="../../assets/images/"+parc.image%>
                    <div class='col-lg-7'><img class='img-fluid rounded mb-4 mb-lg-0' src=<%=im%> /></div>
                    <div class='col-lg-5'>
                        <h1 class='font-weight-light'><%=parc.nom%></h1>
                        <div class='info-site'>
                            <h6 class = 'libelle'><%=parc.libelle%></h6>
                            <img src='../assets/images/question.png' style='width: 5%;'>
                            <a class='type'><%=parc.type%></a> <br>
                            <img src='../assets/images/adresse1.png' style='width: 5%;'>
                            <a class='pays'><%=parc.pays%></a> <br>
                            <img src='../assets/images/website.png' style='width: 5%;'>
                            <a class='website' target="_blank" href=<%=parc.site%> >Site officiel</a><br>
                        </div>

                        <div class='rating'><!--
                            --><a <%if(parc.note>=5){%>style="color: orange;cursor: pointer;" <%}%>title='Donner 5 étoiles'>☆</a><!--
                            --><a <%if(parc.note>=4){%>style="color: orange;cursor: pointer;" <%}%> title='Donner 4 étoiles'>☆</a><!--
                            --><a  <%if(parc.note>=3){%>style="color: orange;cursor: pointer;" <%}%>title='Donner 3 étoiles'>☆</a><!--
                            --><a  <%if(parc.note>=2){%>style="color: orange;cursor: pointer;" <%}%>title='Donner 2 étoiles'>☆</a><!--
                            --><a  <%if(parc.note>=1){%>style="color: orange;cursor: pointer;" <%}%>title='Donner 1 étoiles'>☆</a>
                        </div><br><br>
                        <p><%=parc.description%></p>
                        <% if(statut ==0){%><a class="btn btn-primary" id="infos" href="/user/vote/<%=parc.idparc%>" >Votez !</a><%}%>
                        <br><br>
                    </div>
                    <br><br>
                <%})}%>
        </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
